{% extends "::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'bundles/app/css/*.scss' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css">
    {% endstylesheets %}
{% endblock %}
{% set title = parent ? parent.name : 'Categorieën' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block page_title %}
    {% if parent %}
        <a href="{{ path('homepage', {'id': null}) }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> <span class="sr-only">Vorige</span></a>
    {% endif %}
    {{ title }}
{% endblock %}
{% block body %}
    <div id="categories" class="row">
        {% for category in categories %}
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a class="category" data-category-id="{{ category.id }}" href="{{ path('homepage', {'id': category.id}) }}">
                <div class="category-icon"><img src="/bundles/app/images/icons/{{ category.icon.icon }}"></div>
                <div class="category-name"><h2>{{ category.name }}</h2></div>
                <button class="editBtn"><span class="glyphicon glyphicon-pencil"></span> <span class="sr-only">Bewerken</span></button>
            </a>
        </div>
        {% endfor %}
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a class="category add" href="#createModal" data-toggle="modal" data-target="#createModal">
                <div class="category-icon"><span class="glyphicon glyphicon-plus"></span></div>
                {% set buttonText = parent ? 'subcategorie' : 'categorie' %}
                <div class="category-name"><h2>Nieuwe {{ buttonText }}</h2></div>
            </a>
        </div>
        {# if parent
            <div class="col-xs-6 col-sm-4 col-md-3">
                <a class="category add" href="#newQuestionModal" data-toggle="modal" data-target="#newQuestionModal">
                    <div class="category-icon"><span>?</span></div>
                    <div class="category-name"><h2>Nieuwe vraag</h2></div>
                </a>
            </div>
        endif #}
    </div>

    {% if parent %}
        <h2 class="page-header"><span class="glyphicon glyphicon-question-sign"></span> Vragen</h2>

        <div id="questions">
            {% if questions|length == 0 %}
            <p class="text-muted"><em>Er zijn nog een vragen toegevoegd aan deze categorie.</em></p>
            {% else %}
            <ul class="question-list">
                {% for question in questions %}
                    <li><a data-question-id="{{ question.id }}" href="javascript:void(null);">{{ question.question }}</a></li>
                {% else %}
                    <li><p class="text-muted"><em>Er zijn nog een vragen toegevoegd aan deze categorie.</em></p></li>
                {% endfor %}
            </ul>
            {% endif %}

            <button data-toggle="modal" id="addQuestionButton" data-target="#createQuestionModal" type="button" class="btn btn-primary btn-block btn-lg"><span class="glyphicon glyphicon-plus"></span> Vraag toevoegen</button>
        </div>


    {% endif %}

    {% embed "AppBundle::modal.html.twig" with {'modal_size': 'modal-lg'} %}
        {% block modal_style %}fade{% endblock %}
        {% block modal_id %}createModal{% endblock %}
        {% block modal_title %}Voeg nieuwe categorie toe{% endblock %}
        {% block modal_body %}
            {%  include "AppBundle:Category:category.form.html.twig" with {'categoryForm': categoryForm, 'parent': parent, 'mode': 'create'} %}
        {% endblock %}
    {%  endembed %}
    {% embed "AppBundle::modal.html.twig" with {'modal_size': 'modal-lg'} %}
        {% block modal_style %}fade{% endblock %}
        {% block modal_id %}createQuestionModal{% endblock %}
        {% block modal_title %}Voeg nieuwe vraag toe{% endblock %}
        {% block modal_body %}
            {%  include "AppBundle:Question:question.form.html.twig" with {'questionForm': questionForm, 'mode': 'create'} %}
        {% endblock %}
    {%  endembed %}
    {% embed "AppBundle::modal.html.twig" with {'modal_size': 'modal-lg'} %}
        {% block modal_style %}fade{% endblock %}
        {% block modal_id %}editModal{% endblock %}
        {% block modal_title %}Bewerk categorie{% endblock %}
        {% block modal_body %}
            Nothing to see here
        {% endblock %}
        {% block modal_footer %}
            <button type="button" class="btn btn-danger delete">Verwijderen</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
            <button type="button" class="btn btn-primary save-changes">Opslaan</button>
        {% endblock %}
    {%  endembed %}
    {% embed "AppBundle::modal.html.twig" with {'modal_size': 'modal-lg'} %}
        {% block modal_style %}fade{% endblock %}
        {% block modal_id %}editQuestionModal{% endblock %}
        {% block modal_title %}Bewerk vraag{% endblock %}
        {% block modal_body %}
            Nothing to see here
        {% endblock %}
        {% block modal_footer %}
            <button type="button" class="btn btn-danger delete">Verwijderen</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
            <button type="button" class="btn btn-primary save-changes">Opslaan</button>
        {% endblock %}
    {%  endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if parent %}
    <script>
        var currentCategoryId = {{ parent.id }};
    </script>
    {% endif %}
    {% javascripts
    '@AppBundle/Resources/public/js/categories.js'
    '@AppBundle/Resources/public/js/questions.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}